// styles.scss
.testing {
    width: percentage(5/7);
    background-color: green;
    padding: 0 100px;
}

.p404-section {
    img {
        display: block;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 576px) {
    .p404-section {
        img {
            width: 300px;
        }
    }
}