<!DOCTYPE html>
<html>
    <%- include('head'); -%>
    <%- include('header'); -%>
    <section class="p404-section"> 
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>404</h2>
                    <p class="text-big">Sorry, this page does not exist.</p>
                </div>
                <div class="col-sm-12">
                    <img src="/img/eastwood-list-is-empty.png" alt="404 image">
                </div>
            </div>
        </div>
    </section>

    <%- include('footer'); -%>
</html>