<!DOCTYPE html>
<html>
    <%- include('head'); -%>
    <%- include('header'); -%>
    <h1> Blog Post </h1>
    <p> You are awesome! </p>

    <div> 
        <% if (data) { %>
        <%- data.content %>
        <% } %>
    </div>
</html>

