<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="keywords" content="Blog, Tech, Marketing, Process, Health, UX, Content, Startup">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <meta name="author" content="Paul Sheehan">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <% if(typeof meta_data !== "undefined") { %>
        <title><%- meta_data.title %></title>
        <meta name="description" content="<%- meta_data.description %>">
    <% } %>

    <% if(typeof meta_data === "undefined") { %>
        <title>LetsGetChecked - Blog</title>
        <meta name="description" content="LetsGetChecked's Blog for in company inovation and insite into Irelands fastest growing Health startup">
    <% } %>

    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
    <!-- Google fonts - Open Sans-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <!-- Fancybox-->
    <link rel="stylesheet" href="/vendor/@fancyapps/fancybox/jquery.fancybox.min.css">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="/css/style.default.min.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="/favicon.ico">
</head>